
html,body{
	min-height: 100%;
	min-width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: sans-serif;
}

#fsm-wrapper{
	background: url(pics/outlets.png) repeat;
	position: relative;
	height: 100%;
	width: 100%;
}



#fsm-tool{
	position: relative;
	width: 100%;
	height: 800px;
	padding: 0px;
	margin: 0px;

}

#side-tool-bar{
	position: relative;
	float: left;
	width: 50px;
	//height: 100%;
	background-color: #BDBDBD;
	opacity: 0.5;

}

#workspace{
	float: left;
	position: relative;
}

#states{
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
}

#canvas{
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: url(pics/canvas/caro.png) repeat;
}

.toolbar-item{
	position: relative;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 46px;
	height: 46px;
	background-color: #000;
	opacity: 0.5;
	transition: opacity 0.5s;
	user-select: none;
	background-image:url(pics/icons/Icons69x69.png);
	background-repeat:no-repeat;
	background-size: 46px 230px;
}

.toolbar-item:hover{
	opacity: 1;
}
.toolbar-item:active{
	box-shadow:inset 1px 1px 0px  #BDBDBD, 1px 1px 0px #505050;
}


#tool-multiselect{
	background-position:0px 0px;
}
#tool-newbox{
	background-position:0px -46px;
}
#tool-link{
	background-position:0px -92px;
}
#tool-move-box{
	background-position:0px -138px;
}
#tool-move-canvas{
	background-position:0px -184px;
}



#workspace-popup{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width:100px;
	height: 100px;
	z-index: 2;
	font-size: 40pt;
	background-color: #000;
	color: #fff;
	opacity: 0.8;
	transition: opacity 1s;
}

#workspace-popup-content{
	position: absolute;
	display:none;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	background-color: #BDBDBD;
	z-index: 3;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0px 0px 10px;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out;
}



#workspace-bin{
	background-image: url(pics/icons/bin.png);
	position: absolute;
	opacity: 0;
	bottom: -128px;
	width: 128px;
	height: 128px;
	z-index: 20000;
	left: 50%;
	margin-left: -64px;
	transition: bottom 0.3s ease-in-out;
}

