.state{
	cursor: pointer;
	min-width: 100px;
	min-height: 50px;
	position: absolute;
	border: 1px solid #0086cc;
	background-color:  #ffffff;
}

.end-state{
	background-color:  #0086cc;

}

.start-state{
	border: 1px solid #ff7800;
}

.state .state-title{
	width: 100%;
	text-align: center;
	background-color: #0086cc;
	color: white;
	font-weight: 700;
}

.end-state .state-title{
	background-color: #ffffff;
	color: #0086cc;
}

.start-state .state-title{
	background-color: #ff7800;
	color: #ffffff;
}

.transition{
	background-color: #ffffff;
	border: 1px solid #0086cc;
	min-height: 25px;
	min-width: 50px;
	position: absolute; 
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.state-action-title{
	font-weight: bold;
	color: #0086cc;
}

.end-state .state-action-title{
	color: white;
}

ol.action-container{
	margin-top: 2px;
}

ol.action-container li{
}

.state-action-wrapper{
	display: none;
}