#tools-wrapper{
	position: relative;
	margin: 5px 5px 5px 5px;
	border: 1px solid #E0E0E0;
	height: 500px;
}

.toolbox-item{
	position: relative;
	float: left;
	margin: 5px 0px 0px 5px;
	width: 50px;
	height: 50px;
	border: 1px solid #0086cc;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

}

.toolbox-item:hover{
	cursor: pointer;
}